<% if (session.isAdmin) {%>
<a href="/apps/add-app" class="btn btn-primary ms-3 mt-3">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 5l0 14"></path>
        <path d="M5 12l14 0"></path>
      </svg>
      Adicionar Aplicação
</a>
<% } %>
<div class="container-fluid">
  <div class="row row-deck pt-5">
    <% apps.forEach(function (app) {%>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-status-top bg-indigo"></div>
          <a href="/apps/<%= app.name %>" style="text-decoration: none; color: inherit;">
            <div class="card-body">
              <div class="card-title text-primary">
                <strong>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-box" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline>
                    <line x1="12" y1="12" x2="20" y2="7.5"></line>
                    <line x1="12" y1="12" x2="12" y2="21"></line>
                    <line x1="12" y1="12" x2="4" y2="7.5"></line>
                  </svg>
                  <%= app.name %>
                </strong>
                <% if(app.status === "online"){ %>
                  <span class="badge bg-green-lt"><%= app.status %></span>
                <% } else{ %>  
                  <span class="badge bg-red-lt"><%= app.status %></span>
                <% } %>
              </div>
              <h4 class="text-secondary">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-versions"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /><path d="M7 7l0 10" /><path d="M4 8l0 8" /></svg>
                Versão: <%= app.version %></h4>
              <h4 class="text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-server" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="3" y="4" width="18" height="8" rx="3"></rect>
                  <rect x="3" y="12" width="18" height="8" rx="3"></rect>
                  <line x1="7" y1="8" x2="7" y2="8.01"></line>
                  <line x1="7" y1="16" x2="7" y2="16.01"></line>
                </svg>
                CPU: <%= app.cpu %> %</h4>
              <h4 class="text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-desktop-analytics" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="3" y="4" width="18" height="12" rx="1"></rect>
                  <path d="M7 20h10"></path>
                  <path d="M9 16v4"></path>
                  <path d="M15 16v4"></path>
                  <path d="M9 12v-4"></path>
                  <path d="M12 12v-1"></path>
                  <path d="M15 12v-2"></path>
                  <path d="M12 12v-1"></path>
                </svg>
                Memory: <%= app.memory %></h4>
              <h4 class="text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                  <circle cx="18" cy="18" r="4"></circle>
                  <path d="M15 3v4"></path>
                  <path d="M7 3v4"></path>
                  <path d="M3 11h16"></path>
                  <path d="M18 16.496v1.504l1 1"></path>
                </svg>
                Uptime: <%= app.status === "online" ? app.uptime : 0 %></h4>
                <!-- <h4 class="text-secondary">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-imac-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.5 17h-8.5a1 1 0 0 1 -1 -1v-12a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8.5" /><path d="M3 13h13.5" /><path d="M8 21h4.5" /><path d="M10 17l-.5 4" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
                Criado: <%= app.created %></h4> -->
                <h4 class="text-secondary">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alarm"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 13m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M12 10l0 3l2 0" /><path d="M7 4l-2.75 2" /><path d="M17 4l2.75 2" /></svg>
                Watch: <%= app.watch %></h4>
            </div>
          </a>
          <div class="card-footer text-center">
            <% if(app.status === "online"){ %>
              <button class="btn btn-sm btn-green mt-1" aria-label="Button" onclick="pm2AppAction('<%= app.name %>', 'reload')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                  <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
               </svg>
               Reload
              </button>
              <button class="btn btn-sm btn-cyan mt-1" aria-label="Button" onclick="pm2AppAction('<%= app.name %>', 'restart')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5"></path>
                  <line x1="5.63" y1="7.16" x2="5.63" y2="7.17"></line>
                  <line x1="4.06" y1="11" x2="4.06" y2="11.01"></line>
                  <line x1="4.63" y1="15.1" x2="4.63" y2="15.11"></line>
                  <line x1="7.16" y1="18.37" x2="7.16" y2="18.38"></line>
                  <line x1="11" y1="19.94" x2="11" y2="19.95"></line>
               </svg>
               Restart
              </button>
              <button class="btn btn-sm btn-secondary mt-1" aria-label="Button" onclick="pm2AppAction('<%= app.name %>', 'stop')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="12" cy="12" r="9"></circle>
                  <line x1="9" y1="12" x2="15" y2="12"></line>
               </svg>
               Stop
              </button>
              <button class="btn btn-sm btn-danger mt-1" aria-label="Button" onclick="pm2AppAction('<%= app.name %>', 'delete')">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-http-delete"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2z" /><path d="M14 8h-4v8h4" /><path d="M10 12h2.5" /><path d="M17 8v8h4" /></svg>
               Delete
              </button>
            <% } else{ %> 
              <button class="btn btn-sm btn-cyan mt-1" aria-label="Button" onclick="pm2AppAction('<%= app.name %>', 'restart')">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5"></path>
                  <line x1="5.63" y1="7.16" x2="5.63" y2="7.17"></line>
                  <line x1="4.06" y1="11" x2="4.06" y2="11.01"></line>
                  <line x1="4.63" y1="15.1" x2="4.63" y2="15.11"></line>
                  <line x1="7.16" y1="18.37" x2="7.16" y2="18.38"></line>
                  <line x1="11" y1="19.94" x2="11" y2="19.95"></line>
               </svg>
               Restart
              </button>
              <button class="btn btn-sm btn-danger mt-1" aria-label="Button" onclick="pm2AppAction('<%= app.name %>', 'delete')">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-http-delete"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 8v8h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2z" /><path d="M14 8h-4v8h4" /><path d="M10 12h2.5" /><path d="M17 8v8h4" /></svg>
               Delete
              </button>
            <% } %>
          </div>
        </div>
      </div>
    <% })%>
  </div>
</div>
<div class="container-fluid mb-4">
<h3 class="text-center mb-3">Ações em Massa</h3>
  <div class="d-flex gap-2 justify-content-center">
      <button class="btn btn-sm btn-green" aria-label="Button" onclick="pm2AppAction('all', 'reload')">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
          </svg>
          Reload Todos
      </button>
      <button class="btn btn-sm btn-cyan" aria-label="Button" onclick="pm2AppAction('all', 'restart')">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5"></path>
          <line x1="5.63" y1="7.16" x2="5.63" y2="7.17"></line>
          <line x1="4.06" y1="11" x2="4.06" y2="11.01"></line>
          <line x1="4.63" y1="15.1" x2="4.63" y2="15.11"></line>
          <line x1="7.16" y1="18.37" x2="7.16" y2="18.38"></line>
          <line x1="11" y1="19.94" x2="11" y2="19.95"></line>
        </svg>
        Restart Todos
      </button>
      <button class="btn btn-sm btn-secondary" aria-label="Button" onclick="pm2AppAction('all', 'stop')">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="12" cy="12" r="9"></circle>
          <line x1="9" y1="12" x2="15" y2="12"></line>
        </svg>
        Stop Todos
      </button>
  </div>
</div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/assets/js/monitor.js"></script>